<div class="feedback">
  <div class="like" id="like_form_<%= micropost.id %>">
    <% if micropost.like?(current_user) %>
        <%= render partial: 'likes/unlike', locals: {micropost: micropost} %>
    <% else %>
        <%= render partial: 'likes/like', locals: {micropost: micropost} %>
    <% end %>
  </div>
  <%= link_to likes_link_generator(micropost), who_likes_micropost_path(micropost), {:remote => true, 'data-controls-modal' => "modal-window-likes-#{micropost.id}", 'data-backdrop' => true, 'data-keyboard' => true, id: "like_count_#{micropost.id}"} %>
  <div class="modal hide fade" id="modal-window-likes-<%=micropost.id%>">
    <div class="modal-header">
      <h3>Likes</h3>
    </div>
    <div class="modal-body center">
      <%= image_tag 'loading.gif' %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary modal-button">Close</button>
    </div>
  </div>
</div>
