<div class="feedback">
  <div class="like" id="like_form_<%= micropost.id %>">
    <% if micropost.like?(current_user) %>
        <%= render partial: 'likes/unlike', locals: {micropost: micropost} %>
    <% else %>
        <%= render partial: 'likes/like', locals: {micropost: micropost} %>
    <% end %>
  </div>
  <p class="number_like"><span id="like_count_<%= micropost.id %>"><%= micropost.likes.count %> </span>likes</p>
</div>
