<hr>
<div class="event">
  <%= link_to gravatar_for(event.user, options = {size: 95}), event.user %>
  <div><%= link_to event.title, event %></div>
  <div class="event-date"><%= event.start_time.blank? ? '' : event.start_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></div>
  <% unless event.location.blank? %>
      <div class="event-location"><%= event.location %> <i class="icon-map-marker"></i></div>
  <% end %>
  <% if current_user?(event.user) %>
      <div class="event-organizer"><%= link_to 'You', event.user %><span class="username"> are organizer </span></div>
  <% else %>
  <div class="event-organizer"><%= link_to event.user.name, event.user %><span class="username"> invited you </span></div>
  <% end %>

  <% if current_user?(event.user) %>
      <%= link_to 'edit', [:edit, event]  %> |
  <% end %>
  <% if current_user.admin? || current_user?(event.user) %>
      <%= link_to 'delete', event, method: :delete, confirm: 'Are you sure?' %>
  <% end %>

</div>
