<hr>
<div class="event">
  <%= link_to gravatar_for(event.user, options = {size: 95, image_icon: 'monsterid'}), event.user %>
  <div><%= link_to event.title, event %>
    <span id="event-attend-overview-<%= event.id %>" title="Confirmed attending / Invited"><%= render partial: 'attend_overview', locals: {event_invites: event.event_invites} %></span>
  </div>
  <div class="event-date"><%= event.start_time.blank? ? '' : event.start_time.strftime('%d %B %Y - %H:%M') %>
    <i class="icon-calendar"></i></div>
  <% unless event.location.blank? %>
      <div class="event-location"><%=link_to event.location, "http://maps.google.com/?q=#{event.location}" %> <i class="icon-map-marker"></i></div>
  <% end %>
  <% if current_user?(event.user) %>
      <div class="event-organizer"><%= link_to 'You', event.user %>
        <span class="username"> are organizer </span></div>
  <% else %>
      <div class="event-organizer"><%= link_to event.user.name, event.user %>
        <span class="username"> invited you </span></div>
  <% end %>
  <%= form_for(event.event_invites.find_by_user_id(current_user.id), remote: true) do |f| %>
      <%= f.submit 'Join', class: 'submitLink' %>
      -
      <%= f.submit 'Maybe', class: 'submitLink' %>
      -
      <%= f.submit 'Decline', class: 'submitLink' %> -
      <div id="event-reply-status-<%= event.id %>" class='no_clear'><%= render partial: 'attend_status', locals: {status: event.event_invites.find_by_user_id(current_user.id).attend_status} %> </div>
  <% end %>

  <% if current_user?(event.user) %>
      <%= link_to 'edit', [:edit, event] %> |
  <% end %>
  <% if current_user.admin? || current_user?(event.user) %>
      <%= link_to 'delete', event, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>

</div>
