<div class="row">
  <div class="span6 offset3">
    <%= form_for @event do |f| %>
        <%= render 'shared/error_messages', object: @event %>
        <%= f.label :name, 'Title' %>
        <%= f.text_field :title, size: 250 %>

        <%= f.label :location %>
        <%= f.text_field :location, size: 250 %>

        <%= f.label :start_time %>
        <div class="input-append date form_datetime">
          <%= f.text_field :start_time, readonly: true, size: 16, class: 'event_date_time',
                           value: (@event.start_time.blank? ? '' : @event.start_time.strftime('%d %B %Y - %H:%M')) %>
          <span class="add-on"><i class="icon-th"></i></span>
        </div>

        <%= f.label :end_time %>
        <div class="input-append date form_datetime">
          <%= f.text_field :end_time, readonly: true, size: 16, class: 'event_date_time',
                           value: (@event.end_time.blank? ? '' : @event.end_time.strftime('%d %B %Y - %H:%M')) %>
          <span class="add-on"><i class="icon-th"></i></span>
        </div>

        <div class="send-mail-option">
          <%= f.label(:send_mail, 'Send email', class: 'label-inline') %> &nbsp;
          <%= f.check_box(:send_mail) %>
        </div>
        <div class="send-mail-option">
          Invite everyone <%= radio_button_tag(:invites, 'Everybody', true) %>&nbsp;
          Pick someone <%= radio_button_tag(:invites, 'Somebody') %>
        </div>

        <%= f.text_area :invitation, placeholder: 'Write your invitation here...' %>

        <%= f.submit 'Save', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>