<% provide(:title, @event.title) %>
<h1>Event</h1>
<div class="row">
  <div class="span6 offset3">
    <p>Title: <%= @event.title %></p>
    <% if @event.location %>
        <p>Event: <%= @event.location %></p>
    <% end %>
    <p>Start time: <%= @event.start_time %></p>
    <p>End time: <%= @event.end_time %></p>
    <p>Invitiation: <%= @event.invitation %></p>
  </div>
</div>