<% provide(:title, @event.title) %>
<h1>Event</h1>
<div class="row">
  <div class="span6 offset3">
    <div class="well event">
      <p><span class="event-title"> <%= @event.title %></span></p>
      <hr/>
      <% if @event.location %>
          <p><i class="icon-map-marker"></i> <%= @event.location.blank? ? 'Not specified yet' : @event.location %></p>
      <% end %>
      <p><span class="event-label">Start:</span> <%= @event.start_time.blank? ? '' : @event.start_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></p>

      <p><span class="event-label">End:</span> <%= @event.end_time.blank? ? '' : @event.end_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></p>

      <p><span class="event-label">Invitation:</span> <%= simple_format(@event.invitation) %></p>
      <%= link_to_if(@event.user_id == current_user.id, 'Edit event', edit_event_path) %>
    </div>
  </div>
</div>