<% provide(:title, @event.title) %>
<h1>Event: <%= @event.title %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= @event.title %>
    <%= @event.location %>
    <%= @event.start_time %>
    <%= @event.end_time %>
    <%= @event.invitation %>
  </div>
</div>