<% provide(:title, @event.title) %>
<h1>Event</h1>
<div class="row">
  <div class="span6 offset3">
    <div class="well event">
      <h3> <%= @event.title %></h3>
      <hr/>
      <div>
        <%= link_to gravatar_for(@event.user, options = {size: 50, image_icon: 'monsterid'}), @event.user %>
        <% if current_user?(@event.user) %>
            <div class="event-organizer"><%= link_to 'You', @event.user %>
              <span class="username"> are organizer </span></div>
        <% else %>
            <div class="event-organizer"><%= link_to @event.user.name, @event.user %>
              <span class="username"> invited you </span></div>
        <% end %>
      </div>

      <% if @event.location.blank? %>
          <p>Not specified yet <i class="icon-map-marker"></i></p>
      <% else %>
          <div><%= link_to @event.location, "http://maps.google.com/?q=#{@event.location}" %>
          <i class="icon-map-marker"></i></div>
      <% end %>

      <span class="event-label">Start: </span> <%= @event.start_time.blank? ? '' : @event.start_time.strftime('%A %d. %B %Y - %H:%M') %>
      <i class="icon-calendar"></i></p>

      <p>
        <span class="event-label">End: </span><%= @event.end_time.blank? ? '' : @event.end_time.strftime('%A %d. %B %Y - %H:%M') %>
        <i class="icon-calendar"></i></p>


      <p>
        <span class="event-label">People:</span>
      </p>
      <ul class="event-attendees">
        <li>
          <%= form_for(@event.event_invites.find_by_user_id(current_user.id), html: {class: 'no-margin'}, remote: true) do |f| %>
              You - <%= f.submit 'Join', class: 'submitLink' %>
              -
              <%= f.submit 'Maybe', class: 'submitLink' %>
              -
              <%= f.submit 'Decline', class: 'submitLink' %> -
              <div id="event-reply-status-<%= @event.id %>" class='no_clear'><%= render partial: 'attend_status', locals: {status: @event.event_invites.find_by_user_id(current_user.id).attend_status} %> </div>
          <% end %></li>
        <% @event.event_invites.sort { |a, b| a.user.name.upcase <=> b.user.name.upcase }.each do |i| %>
            <% unless current_user?(i.user) %>
                <li><%= i.user.name %><span class="username">(@<%= i.user.username %>
                  )<span> - <%= render partial: 'attend_status', locals: {status: i.attend_status} %></li>
            <% end %>
        <% end %>
      </ul>

      <p><span class="event-label">Invitation:</span>

      <div class="well"><%= simple_format(@event.invitation) %></div>
      </p>
      <% if current_user?(@event.user) %>
          <%= link_to 'edit', [:edit, @event] %> |
      <% end %>
      <% if current_user.admin? || current_user?(@event.user) %>
          <%= link_to 'delete', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>

    <%= render 'shared/error_messages', object: @event_comment %>
    <%= form_for @event_comment, {url: event_event_comments_path(@event.id)} do |f| %>
        <%= content_tag 'div', class: 'field', id: 'comment-input', data: {url: User.order('users.username').load.collect { |u| "#{u.username} - #{u.name}" }} do %>
            <%= f.text_area :content, placeholder: 'Write new comment...', rows: 5, class: 'message' %>
        <% end %>
        <%= f.submit 'Comment', class: 'btn btn-primary' %>
        <span class="comment-countdown"></span>
    <% end %>

    <% unless @event.event_comments.empty? %>
        <ul class="event_comments">
          <% @event.event_comments.each do |c| %>
              <li>
                <%= link_to gravatar_for(c.user), c.user %>
                <span class="user">
                    <%= link_to c.user.name, c.user %>
                  <span class="username">@<%= c.user.username %></span>
                </span>
                <span class="content"><%= format_msg(c.content).html_safe %></span>
                <span class="timestamp">
                  Posted <%= time_ago_in_words c.created_at %> ago
                </span>
                <% if current_user?(c.user) %>
                    <%= link_to 'delete', [@event, c], method: :delete, data: {confirm: 'Are you sure?'}, title: c.content %>
                <% end %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>