<% provide(:title, @event.title) %>
<h1>Event</h1>
<div class="row">
  <div class="span6 offset3">
    <div class="well event">
      <h3> <%= @event.title %></h3>
      <hr/>
      <div>
        <%= link_to gravatar_for(@event.user, options = {size: 50, image_icon: 'monsterid'}), @event.user %>
        <% if current_user?(@event.user) %>
            <div class="event-organizer"><%= link_to 'You', @event.user %>
              <span class="username"> are organizer </span></div>
        <% else %>
            <div class="event-organizer"><%= link_to @event.user.name, @event.user %>
              <span class="username"> invited you </span></div>
        <% end %>
      </div>

      <% if @event.location %>
          <p><%= @event.location.blank? ? 'Not specified yet' : @event.location %><i class="icon-map-marker"></i></p>
      <% end %>
      <p><span class="event-label">Start: </span> <%= @event.start_time.blank? ? '' : @event.start_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></p>

      <p><span class="event-label">End: </span><%= @event.end_time.blank? ? '' : @event.end_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></p>


      <p>
        <span class="event-label">People:</span>
      </p>
      <ul class="event-attendees">
        <li>
          <%= form_for(@event.event_invites.find_by_user_id(current_user.id), html: {class: 'no-margin'}, remote: true) do |f| %>
              You - <%= f.submit 'Join', class: 'submitLink' %>
              -
              <%= f.submit 'Maybe', class: 'submitLink' %>
              -
              <%= f.submit 'Decline', class: 'submitLink' %> -
              <div id="event-reply-status-<%= @event.id %>" class='no_clear'><%= render partial: 'attend_status', locals: {status: @event.event_invites.find_by_user_id(current_user.id).attend_status}%> </div>
          <% end %></li>
        <% @event.event_invites.each do |i| %>
            <% unless current_user?(i.user) %>
                <li><%= i.user.name %> - <%= render partial: 'attend_status', locals: {status: i.attend_status} %></li>
            <%end%>
        <% end %>
      </ul>

      <p><span class="event-label">Invitation:</span> <div class="well"><%= simple_format(@event.invitation) %></div></p>
      <% if current_user?(@event.user) %>
          <%= link_to 'edit', [:edit, @event]  %> |
      <% end %>
      <% if current_user.admin? || current_user?(@event.user) %>
          <%= link_to 'delete', @event, method: :delete, confirm: 'Are you sure?' %>
      <% end %>
    </div>
  </div>
</div>