<% provide(:title, @event.title) %>
<h1>Event</h1>
<div class="row">
  <div class="span6 offset3">
    <div class="well event">
      <h3> <%= @event.title %></h3>
      <hr/>
      <div>
        <%= link_to gravatar_for(@event.user, options = {size: 50, image_icon: 'monsterid'}), @event.user %>
        <% if current_user?(@event.user) %>
            <div class="event-organizer"><%= link_to 'You', @event.user %>
              <span class="username"> are organizer </span>
              <% if @user_rank[@event.user.id] %> <div class="app-icon <%= rank_color_class(@user_rank[@event.user.id]) %>" title="Rank based on activity the latest month"></div><% end %></div>
        <% else %>
            <div class="event-organizer"><%= link_to @event.user.name, @event.user %>
              <span class="username"> invited you </span>
              <% if @user_rank[@event.user.id] %> <div class="app-icon <%= rank_color_class(@user_rank[@event.user.id]) %>" title="Rank based on activity the latest month"></div><% end %></div>
        <% end %>
      </div>

      <% if @event.location.blank? %>
          <p>Not specified yet <i class="icon-map-marker"></i></p>
      <% else %>
          <div><%= link_to @event.location, "http://maps.google.com/?q=#{@event.location}" %>
          <i class="icon-map-marker"></i></div>
      <% end %>

      <span class="event-label">Start: </span> <%= @event.start_time.blank? ? '' : @event.start_time.strftime('%A %d. %B %Y - %H:%M') %>
      <i class="icon-calendar"></i></p>

      <p>
        <span class="event-label">End: </span><%= @event.end_time.blank? ? '' : @event.end_time.strftime('%A %d. %B %Y - %H:%M') %>
        <i class="icon-calendar"></i></p>


      <%= render partial: 'events/attend_status_list' %>

      <p><span class="event-label">Invitation:</span>

      <div class="well"><%= simple_format(@event.invitation) %></div>
      </p>
      <% if current_user?(@event.user) %>
          <%= link_to 'edit', [:edit, @event] %> |
      <% end %>
      <% if current_user.admin? || current_user?(@event.user) %>
          <%= link_to 'delete', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>

    <%= render 'shared/error_messages', object: @event_comment %>
    <%= form_for @event_comment, {url: event_event_comments_path(@event.id)} do |f| %>
        <%= content_tag 'div', class: 'field', id: 'comment-input', data: {url: User.order('users.username').load.collect { |u| "#{u.username} - #{u.name}" }} do %>
            <%= f.text_area :content, placeholder: 'Write new comment...', rows: 5, class: 'message' %>
        <% end %>
        <%= f.submit 'Comment', class: 'btn btn-primary' %>
        <span class="countdown"></span>
    <% end %>

    <% unless @event.event_comments.empty? %>
        <%= render partial: 'events/event_comment_list' %>
    <% end %>
  </div>
</div>