<% provide(:title, @event.title) %>
<h1>Event</h1>
<div class="row">
  <div class="span6 offset3">
    <div class="well event">
      <p><span class="event-title"> <%= @event.title %></span></p>
      <hr/>
      <% if @event.location %>
          <p><%= @event.location.blank? ? 'Not specified yet' : @event.location %><i class="icon-map-marker"></i></p>
      <% end %>
      <p>Start: <%= @event.start_time.blank? ? '' : @event.start_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></p>

      <p>End: <%= @event.end_time.blank? ? '' : @event.end_time.strftime('%d %B %Y - %H:%M') %> <i class="icon-calendar"></i></p>

      <p><span class="event-label">Invitation:</span> <%= simple_format(@event.invitation) %></p>
      <% if current_user.admin? || current_user?(@event.user) %>
          <%= link_to 'edit', [:edit, @event]  %> | <%= link_to 'delete', @event, method: :delete, confirm: 'Are you sure?' %>
      <% end %>
    </div>
  </div>
</div>