<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'twittosocial', root_path, id: 'logo' %>

      <ul class="nav pull-right">
        <% if signed_in? %>
            <li><%= render partial: 'layouts/event_header' %> </li>
            <li><span class='small-screen-hidden'><%= link_to 'Help', help_path %></span></li>
            <li><span class='small-screen-hidden'><%= link_to 'Users', users_path %></span></li>
            <li id="fat-menu" class="dropdown">
                <span class='small-screen-hidden'>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Profile', user_path(current_user) %></li>
                  <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to 'Sign out', signout_path, method: 'delete' %>
                  </li>
                </ul>
                </span>
            </li>
        <% else %>
            <li><%= link_to 'Sign in', signin_path %></li>
        <% end %>
      </ul>
      <% if signed_in? %>
          <%= form_tag root_path, method: :get, class: 'pull-right global-search small-screen-hidden' do %>
              <p>
                <%= text_field_tag :q, params[:q], placeholder: 'Search', id: 'nav-search-field' %>
              </p>
          <% end %>
      <% end %>
    </div>
  </div>
</header>